body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: initial;
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #222;
}

body::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.geocoder-container {
  width: 100%;
}

.geoapify-autocomplete-input {
  width: calc(100% - 0px) !important;
  background-color: #25262b !important;
  border-radius: 4px !important;
  border: 1px solid #373a40 !important;
}

.geoapify-autocomplete-items {
  background-color: #25262b !important;
}

.geoapify-autocomplete-item {
  background-color: #25262b !important;
  color: white !important;
}

.geoapify-autocomplete-item:hover {
  background-color: #2f2f2f !important;
}

.geoapify-autocomplete-item .secondary-part {
  color: white !important;
}

.geoapify-close-button {
  color: white !important;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  justify-content: center;
  /* margin-left: -30px;  */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */

  margin-bottom: 30px;
}
